* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sidebar {
  height: 100vh;
  width: 6vw;
  background-color: #0f0f0f;
  color: white;
  padding-top: 20px;
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.sidebar .option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 10px;
}
.header {
  background-color: #0f0f0f;
  color: white;
  height: 20vh;
  width: 100%;
  padding-left: 100px;
  padding-top: 20px;
  position: fixed;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 20px;
}
.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.header-middle input {
  width: 400px;
  border-radius: 20px;
  background-color: #0f0f0f;
  border: 2px solid #5f5f5f;
  padding: 8px;
}
.header-middle .mic {
  background-color: #313131;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-left .create {
  background-color: #313131;
  padding: 8px;
  border-radius: 40px;
}
.header-left .s {
  background-color: rgb(248, 69, 98);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.header-down {
  padding-top: 20px;
  padding-left: 40px;
}
.header-down ul {
  display: flex;
  gap: 10px;
  list-style: none;
  overflow: auto;
}
.header-down ul::-webkit-scrollbar {
  display: none;
}
.header-down ul li {
  background-color: #313131;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 14px;
  flex-shrink: 0;
}
.container {
  background-color: #0f0f0f;
  color: white;
  padding-top: 20vh;
  padding-left: 6vw;
  border: 2px solid black;
}
.video-wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 15px;
}
.video-card {
  width: 344px;
}
.video-img {
  width: 100%;
}
.video-img img {
  width: 100%;
  border-radius: 12px;
}
.video-info {
  display: flex;
  gap: 10px;
}
.video-left img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.video-right {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.para-1 {
  font-weight: bold;
}
.para-2 {
  color: #aaa;
  font-size: 14px;
}
.short-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  font-weight: bold;
}
.short-left .para-3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}
.short-right {
  display: flex;
  flex-direction: column;
  line-height: 6px;
}
.short-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 10px;
}
.short-card {
  width: 244px;
}
.short-card img {
  width: 100%;
  border-radius: 12px;
}
.para-4 {
  font-weight: bold;
  padding: 10px 0;
}
.para-5 {
  color: #aaa;
  font-size: 14px;
}
